<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059766292933-805ghq717in1e6g26trca5f08k2gp8e3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059766292933-805ghq717in1e6g26trca5f08k2gp8e3</string>
	<key>API_KEY</key>
	<string>AIzaSyCerzh1zXGCQpOEe-NaxJ2CFsg1OMIKsP8</string>
	<key>GCM_SENDER_ID</key>
	<string>1059766292933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodDelivery</string>
	<key>PROJECT_ID</key>
	<string>food-delivery-52d32</string>
	<key>STORAGE_BUCKET</key>
	<string>food-delivery-52d32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059766292933:ios:904cf2193ed6bc76197bac</string>
</dict>
</plist>